/* /////////////////////////////////* jumbotron */
.jumbotron {
  text-align: center;
  background-color: #ddd9d8;
  margin: 0;
}

/* /////////////////////////////////*html tags*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
}

h1 {
  color: #404040;
  font-family: 'Almonds';
}

/* Navigation Bar */
.dropdown-menu {
  background-color: transparent;
  border: 0.5px;
  border-radius: 40%;
}

.dropdown-menu:hover {
  background-color: transparent;
}

.icon {
  color: #404040;
}

.dropdown-item {
  line-height: 1;
}

a.navbar-brand {
  width: 106px;
  height: 106px;
  margin: 0 2rem 0 1rem;
}

/* /////////////////////////////////* button */
.mybtn {
  border-color: black;
  border-width: 1px;
  margin-top: 1rem;
  background-color: #404040;
  color: white;
}

.mybtn:hover {
  background-color: #ddd9d8;
  border-color: black;
}

/* cards */

.container-fluid {
  background-color: #ddd9d8;
  padding: 7% 15%;
  text-align: center;
}

/* heading */
.heading {
  padding-top: 1rem;
}

/* selectors */
.so-shit {
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  height: 5px;
  weight: 5px;
  color: black;
}

.icon-two {
  padding-bottom: 1rem;
  color: #404040;
}

/* /////////////////////////////////* carousel */
.first-slide-block {
  width: 1280px;
  height: 600px;
}

.first-slide-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #252525;
  position: absolute;
  left: 498px;
  top: 120px;
  width: 20%;
}

.first-slide-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #252525;
  position: absolute;
  left: 500px;
  top: 215px;
  width: 20%;
}

.first-slide-body2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #252525;
  position: absolute;
  left: 800px;
  top: 120px;
  width: 20%;
}

.first-slide-square {
  width: 150px;
  height: 440px;
  background-color: #cfa769;
  position: absolute;
  top: 80px;
  right: 0px;
}

.first-slide-img {
  position: absolute;
  top: 80px;
  left: -120px;
}

.second-slide-square {
  width: 600px;
  height: 440px;
  background-color: #cfa769;
  position: absolute;
  top: 80px;
  left: 0px;
}

.second-slide-header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  left: 200px;
  top: 120px;
  width: 30%;
}

.second-slide-body p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  color: #fff;
  position: absolute;
  left: 200px;
  top: 220px;
  width: 20%;
}

.second-slide-block {
  width: 1280px;
  height: 600px;
}

.second-slide-img {
  position: absolute;
  left: 500px;
  top: 20px;
  z-index: -1;
}


.second-slide-img2 {
  position: absolute;
  top: 80px;
  right: -420px;
}


/* /////////////////////////////////* footer */
#footer {
  text-align: center;
}
#footer.container-fluid {
  background-color: #fff;
  padding: 3% 15%;
}
