/* /////////////////////////////////*Font Familes*/
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* /////////////////////////////////*html tags*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
}

h1 {
  color: #404040;
  font-family: 'Almonds';
}

.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ddd9d8;
}

/* Navigation Bar */
.navbar {
  padding: 0 16px;
  height: 90px;
  opacity: 0.7;
}

.avatar-image {
  padding-top: 10px;
}

.nav-item {
  display: inline-block;
}

a.navbar-brand {
  width: 70px;
  height: 70px;
  margin: 0.1rem 2rem 1rem 1rem;
}

/* /////////////////////////////////* jumbotron */
.jumbotron {
  text-align: center;
  background-color: #ddd9d8;
  margin: 0;
  height: 30rem;
}

.display-4 {
  padding: 6rem 0 0 0;
  font-size: 5rem;
  ;
}

.lead {
  padding: 10px 0 0;
}

/* selectors */
.insta-link {
  text-decoration: none;
}

/* /////////////////////////////////* button */
.mybtn {
  border-color: black;
  border-width: 1px;
  margin-top: 1rem;
  background-color: #404040;
  color: white;
}

.mybtn:hover {
  background-color: #ddd9d8;
  border-color: black;
}

/* cards */
.container-fluid {
  padding: 7% 15%;
  text-align: center;
}

/* heading */
.heading {
  padding-top: 1rem;
}

.heading-videopage {
  padding: 3% auto;
}

/* selectors */
.so-shit {
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  height: 5px;
  weight: 5px;
  color: black;
}

.icon-two {
  padding-bottom: 1rem;
  color: #404040;
}

/* /////////////////////////////////* About Sections */
/* /////////////////////////////////* About Ashley Section */
.ashley-parent {
  height: 0;
  padding-bottom: 80%;
  postion: relative;
  background-color: #E3E0CF;
}

.ashley-title-shape {
  background-color: #C5D5CB;
  width: 700px;
  height: 120px;
  min-width: 440px;
}

/* /////////////////////////////////* About Mind Unraveled Section */
.mind-parent {
  height: 0;
  padding-bottom: 80%;
  postion: relative;
  background-color: #C5D5CB;
}

.mind-title-shape {
  background-color: #9FA8A3;
  width: 900px;
  height: 120px;
  min-width: 440px;
}

/* /////////////////////////////////* Style that applies to both ABOUT ASHLEY and MIND UNRAVELED Sections */

.title-container {
  position: relative;
  top: 80px;
}

.title {
  color: #fff;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  position: absolute;
  top: 8px;
  left: 80px;
}

.paragraph {
  color: #363636;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  padding: 160px 30px 0 80px;
  text-align: justify;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

.text-and-image-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.text-box {
  width: 800px;
  float: left;
}

.image-box {
  width: 300px;
  margin-left: 86px;
  float: right;
  flex-wrap: nowrap;
}

.image {
  padding: 175px 80px 0 0px;
}

/* /////////////////////////////////* Media Queries for ABOUT SECTIONS */

@media (max-width: 1201px) {
  .image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .ashley-parent {
    height: 0;
    padding-bottom: 100%;
    postion: relative;
    background-color: #E3E0CF;
  }

  .mind-parent {
    height: 0;
    padding-bottom: 100%;
    postion: relative;
    background-color: #C5D5CB;
  }

  .title {
    color: #fff;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 80px;
  }

  .paragraph {
    color: #363636;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    padding: 160px 80px 0 80px;
    text-align: justify;
  }

  .ashley-title-shape {
    background-color: #C5D5CB;
    width: 580px;
    height: 100px;
    min-width: 440px;
  }

  .mind-title-shape {
  background-color: #9FA8A3;
  width: 720px;
  height: 100px;
  min-width: 440px;
  }
}

  @media (max-width: 760px) {
    .ashley-parent {
      height: 0;
      padding-bottom: 140%;
      postion: relative;
      background-color: #E3E0CF;
    }

    .mind-parent {
      height: 0;
      padding-bottom: 140%;
      postion: relative;
      background-color: #C5D5CB;
    }

    .title {
      color: #fff;
      font-size: 3rem;
      font-family: 'Playfair Display', serif;
      font-weight: 700;
      position: absolute;
      top: 8px;
      left: 60px;
    }

    .paragraph {
      color: #363636;
      font-size: 1rem;
      line-height: 1.5;
      font-family: 'Nunito', sans-serif;
      font-weight: 200;
      padding: 120px 60px 0 60px;
      text-align: justify;
    }

    .ashley-title-shape {
      background-color: #C5D5CB;
      width: 580px;
      height: 80px;
      min-width: 440px;
    }

    .mind-title-shape {
    background-color: #9FA8A3;
    width: 720px;
    height: 80px;
    min-width: 440px;
    }
  }

    @media (max-width: 566px) {
      .ashley-parent {
        height: 0;
        padding-bottom: 180%;
        postion: relative;
        background-color: #E3E0CF;
      }

      .mind-parent {
        height: 0;
        padding-bottom: 180%;
        postion: relative;
        background-color: #C5D5CB;
      }

      .title {
        color: #fff;
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        position: absolute;
        top: 8px;
        left: 40px;
      }

      .paragraph {
        color: #363636;
        font-size: .9rem;
        line-height: 1.5;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        padding: 120px 40px 0 40px;
        text-align: justify;
      }

      .ashley-title-shape {
        background-color: #C5D5CB;
        width: 580px;
        height: 70px;
        min-width: 440px;
      }

      .mind-title-shape {
      background-color: #9FA8A3;
      width: 720px;
      height: 70px;
      min-width: 440px;
      }
    }

    /* /////////////////////////////////* footer */
    
    #footer {
      text-align: center;
    }

    #footer.container-fluid {
      background-color: #fff;
      padding: 4% 15%;
    }
